<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="volvo.nvs.logging" type="Volvo.NVS.Logging.Configuration.LoggingSection, Volvo.NVS.Logging" />
  </configSections>


  <connectionStrings>
    <add name="connectionStr" connectionString="data source=153.112.60.105,1433;User ID=epseduc;password=E!p!s!;initial catalog=epseduc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
    <appSettings>
      <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
      <add key="BotId" value="YourBotId" />
      <add key="MicrosoftAppId" value="" />
      <add key="MicrosoftAppPassword" value="" />
      <add key="KendoVersion" value="2016.1.112" />
      <add key="TokenUri" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken?subscription-key=" />
      <add key="ProxyEnabled" value="true" />
      <add key="SnowUser" value="chatbot" />
      <add key="SnowPassword" value="grv&quot;Q?8TbFwp94+5" />
      <add key="Service" value="ePS – Electronic Purchasing System" />
      <add key="Group" value="GLB EPS 2ND" />
      <add key="OwnerGroup" value="GLB OFFICE SUPPORT FD" />
      <add key="Category" value="VG App Svc - DVP" />
      <add key="SubCategory" value="Purchasing" />
    </appSettings>
  
  <!--<configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nhibernate.mappingbycode" type="Volvo.NVS.Persistence.NHibernate.Config.NHibernateMappingSection, Volvo.NVS.Persistence.NHibernate" />
  </configSections>-->
  
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->

  <!--<unity configSource="Unity.config" />
  <hibernate-configuration configSource="NHibernate.config" />-->

  <!--<nhibernate.mappingbycode>
    <mappings>
      <add assembly="OrderDomain.Model" />
    </mappings>
  </nhibernate.mappingbycode>-->

  <volvo.nvs.logging>
    <logging level="normal" maxArchivedFiles="10" folderName="C:\Projects\ePS\Main\src\Web\ePSBot\EpsBotAppAPI\EpsBotAppAPI" />

    <system id="ePS BOT" />
  </volvo.nvs.logging>
  
  <system.web>
    <customErrors mode="Off" /> 
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceNowSoap">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://hclitsmdev.service-now.com/u_chatbot_integration.do?SOAP" binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap" contract="ServiceNowDev.ServiceNowSoap" name="ServiceNowSoapDev" />
      <endpoint address="https://hclitsmqa.service-now.com/u_chatbot_integration.do?SOAP" binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap" contract="ServiceNowQa.ServiceNowSoap" name="ServiceNowSoapQa" />
    </client>
  </system.serviceModel>
</configuration>