<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceNowSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceNowSoap1" />
                <binding name="ServiceNowSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceNowSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://hclitsmdev.service-now.com/u_chatbot_integration.do?SOAP" binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap" contract="ServiceNowDev.ServiceNowSoap" name="ServiceNowSoap" />
            <endpoint address="https://hclitsmqa.service-now.com/u_chatbot_integration.do?SOAP" binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap2" contract="ServiceNowQa.ServiceNowSoap" name="ServiceNowSoap1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>